* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Big Shoulders Display','Lexend Deca', sans-serif ;
    font-size: 15px;
    background: hsl(0, 0%, 95%); 
    height :100%;
    width: 100%;
}
.cars {
    /* border:1px solid; */
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width: 600px;
    font-size: 15px;   
    margin: 250px auto;
    flex-wrap: wrap;

}
header {
    color:hsl(0, 0%, 95%); 
    /* margin: 20px 0px; */
    padding: 10px;
}

 header img {
    height: 30px;
    margin-bottom: 30px;

 }

header h2 {
    font-family:'Big Shoulders Display' ;
    font-weight:bold;
    word-spacing: 40px;
}
p {
    font-family: sans-serif ;
    color:hsla(0, 0%, 100%, 0.75);
    font-size: xx-small;
    opacity: 70%;
    line-height:20px;


}


.cars_bright-orange p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 50px;
    padding: 10px;
    display: flex;


}

.cars_dark-cyan p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 50px;
    padding: 10px;
}

.cars_very-dark-cyan p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 50px;
    padding: 10px;
   
}
.cars_bright-orange input {
    color: hsl(31, 77%, 52%);;
}
.cars_dark-cyan input {
    color: hsl(184, 100%, 22%);
}
.cars_very-dark-cyan input {
    color: hsl(179, 100%, 13%);
}


input {
    background-color: hsla(0, 0%, 100%, 0.75);
    width: 90px;
    border-radius: 50px ;
    height: 30px;
    align-items: center;
    border: hsla(0, 0%, 100%, 0.75);
}

.cars_bright-orange  {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px;
    padding: 10px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cars_dark-cyan {
    background-color: hsl(184, 100%, 22%);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

} 
.cars_very-dark-cyan {
    background-color: hsl(179, 100%, 13%);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media(max-width:375px) {
    .cars {
        display: block;
    }
    .cars_bright-orange  {
        background-color: hsl(31, 77%, 52%);
        display: block;
        height: 300px;
        width: 300px;
        
    }
    
    .cars_dark-cyan {
        background-color: hsl(184, 100%, 22%);
        display: block;
    } 
    .cars_very-dark-cyan {
        background-color: hsl(179, 100%, 13%);
        display:block;
    }
}

